[submodule "pad-guild-service"]
	path = pad-guild-service
	url = https://github.com/CosmaK-47/pad-tamagotchi-go-guild-service.git
[submodule "pad-package-registry-service"]
	path = pad-package-registry-service
	url = https://github.com/CosmaK-47/pad-tamagotchi-go-package-registry-service.git
