[submodule "pad-notification-service"]
	path = pad-notification-service
	url = git@github.com:J0hnny05/pad-notification-service.git
[submodule "pad-tamagotchi-service"]
	path = pad-tamagotchi-service
	url = git@github.com:J0hnny05/pad-tamagotchi-service.git
[submodule "pad-guild-service"]
	path = pad-guild-service
	url = https://github.com/CosmaK-47/pad-tamagotchi-go-guild-service.git
[submodule "pad-package-registry-service"]
	path = pad-package-registry-service
	url = https://github.com/CosmaK-47/pad-tamagotchi-go-package-registry-service.git
[submodule "pad-map-service"]
	path = pad-map-service
	url = https://github.com/m33ga/pad-tamagotchi-go-map-service.git
[submodule "pad-monster-raid-service"]
	path = pad-monster-raid-service
	url = https://github.com/m33ga/pad-tamagotchi-go-monster-raid-service.git
